GATEWAY_APP_NAME=API Gateway
GATEWAY_DEBUG=true
GATEWAY_ALLOWED_HOSTS=localhost,127.0.0.1

GATEWAY_USER_SERVICE_URL=http://user_service:8000
GATEWAY_PRODUCT_SERVICE_URL=http://product_service:8000
GATEWAY_ORDER_SERVICE_URL=http://order_service:8000
GATEWAY_PAYMENT_SERVICE_URL=http://payment_service:8000
GATEWAY_NOTIFICATION_SERVICE_URL=http://notification_service:8000

GATEWAY_JWT_SECRET_KEY=your-secret-key-here
GATEWAY_JWT_ALGORITHM=HS256
GATEWAY_JWT_ACCESS_TOKEN_LIFETIME_MINUTES=15

GATEWAY_CORS_ALLOW_ORIGINS=*
